//
//  Production-debug.xcconfig
//  ostelco-ios-client
//
//  Created by Prasanth Ullattil on 08/04/2019.
//  Copyright © 2019 mac. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-ostelco-ios-dev-ostelco-ios-client/Pods-ostelco-ios-dev-ostelco-ios-client.debug.xcconfig"
#include "Pods/Target Support Files/Pods-ostelco-ios-ostelco-ios-client/Pods-ostelco-ios-ostelco-ios-client.debug.xcconfig"
server_url = https:\/\/api.oya.world
stripe_publishable_key = pk_live_TapwcFFxZ4ebhimyTvXSIWPY
auth0_client_id = ExfkvmnHoRwJfaIq4agVh14hJ5jo3zVO
auth0_domain = auth.oya.world
auth0_logo_url = https:\/\/i.imgur.com/kRdkzp2.png
freshchat_app_id = bac5e183-2868-4e75-b443-a6db161965d9
freshchat_app_key = 82573f6a-6494-4cde-a77a-b882092e93ff
apple_merchant_id = merchant.sg.redotter.dev.selfcare
bugsee_token = 2528d676-0561-47a7-a091-742a0cdbcf8f
jumio_token = prod_token
jumio_secret = prod_secret
#include? "production_overrides.xcconfig"
