<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Auth0.plist
   ostelco-ios-client

   Created by mac on 10/18/18.
   Copyright (c) 2018 mac. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>ClientId</key>
        <string>bNz2UjqvwtLvLu431zHFOujzDW24wO1f</string>
        <key>Domain</key>
        <string>ostelco.eu.auth0.com</string>
    </dict>
</plist>
