//
//  Development.xcconfig
//  dev-ostelco-ios-client
//
//  Created by mac on 10/30/18.
//  Copyright © 2018 mac. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
server_url = https:\/\/api.dev.ostelco.org
stripe_publishable_key = pk_test_4XDOdDMQvGeW9fr31gIlcg5z
auth0_client_id = YA2dXSkRyWPeQA5y3GGzRub7TZtzYp31
auth0_domain = ostelco.eu.auth0.com
auth0_logo_url = https:\/\/i.imgur.com/8iFdkBD.png
