//
//  Production.xcconfig
//  ostelco-ios-client
//
//  Created by mac on 10/30/18.
//  Copyright © 2018 mac. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
server_url = https:\/\/api.ostelco.org
stripe_publishable_key = pk_live_TapwcFFxZ4ebhimyTvXSIWPY
